---
name: about
url: /about
title: About
---

<h3>{{ vars.title }}</h3>

<p>Hi, I know you want to know ALL about me.</p>

<div zf-tabs>
    <div zf-tab title="Professional">
        <img class="thumbnail" width="150px" src="https://media.licdn.com/media/p/8/005/073/35d/22d9f7b.jpg" />
        <p>Worked on the AngularSJ side of development for "Foundation for Apps".</p>
        <p>
        Pellentesque sed ante imperdiet, sollicitudin libero eget, pharetra velit. Fusce volutpat nisi ut velit tempus, a egestas ligula efficitur. Morbi euismod ipsum vel nisl egestas, at vestibulum justo pretium. Vivamus placerat orci ac faucibus ultrices. Donec lobortis leo vitae est blandit, sed scelerisque diam consectetur. Nam ac imperdiet lectus, ut suscipit dolor. Maecenas id fringilla sem. Aenean sit amet lacus lobortis, pellentesque metus id, posuere velit. Etiam libero mauris, gravida at sapien nec, pulvinar faucibus augue. Aliquam ac dui quam.
        </p>
    </div>
    <div zf-tab title="Personal">
        <p>I love dogs. I love programming. I love my life. And I love using Windows 8.</p>
    </div>
</div>
