---
name: post
url: /blog/:id
title: Post
posts:
    - offset:
        - test content
    - Hello World
    - Foundation for Apps
    - Antonin is great
---
<h4>{{ vars.posts[params.id] }}</h4>


<p ng-if="params.id > 2">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis elit, hendrerit non nisl ut, aliquet tempus sapien. Aenean cursus viverra neque, at commodo ex varius non. Donec ullamcorper est quis leo lacinia, vitae tempus ligula ullamcorper. Vivamus posuere gravida mi, et ultrices turpis sodales non. Donec malesuada urna in orci porttitor efficitur. Sed quis auctor justo. Proin elit urna, egestas eu mi sed, vestibulum rhoncus orci. Pellentesque dapibus arcu sit amet ligula gravida blandit. Nulla et libero ut quam dapibus interdum. Cras feugiat tempor turpis non placerat. Proin mattis ligula erat, eu aliquet justo faucibus feugiat. Quisque in neque magna.
</p>
<p ng-if="params.id == 1">
Donec sollicitudin quam velit, ut fringilla odio gravida dignissim. Aenean egestas est massa. Phasellus sodales commodo eros, quis elementum tortor convallis placerat. Suspendisse viverra libero sit amet justo dapibus dignissim. Aliquam quis lorem enim. Nulla efficitur sapien non aliquam vehicula. Nullam in ullamcorper orci, at lobortis ligula.
</p>
<p ng-if="params.id < 2">
Praesent nec dui eu arcu ornare facilisis. Vivamus eu ornare ligula. Aenean in hendrerit lorem. Cras laoreet urna ac sollicitudin consequat. Aenean nisl eros, malesuada vel nulla a, aliquam ornare elit. Aliquam felis risus, fermentum id gravida eget, imperdiet eget sapien. Ut luctus at justo venenatis varius. Aliquam a nulla vel mauris feugiat placerat.
</p>
<p>
Duis in fringilla sapien. Donec eu mattis ipsum, at dapibus nisl. In diam urna, hendrerit eu ipsum at, accumsan consectetur diam. Morbi non nunc ac enim consectetur efficitur porta ut dui. Duis vitae posuere arcu. Nunc facilisis dapibus odio, vel ultrices ante gravida et. Phasellus semper ut metus ac porta. Ut ut tempus erat, ac luctus enim. Donec faucibus egestas feugiat. Integer tristique ultricies neque in sollicitudin. Pellentesque turpis turpis, varius vitae turpis accumsan, varius porta quam.
</p>
<p>
Pellentesque sed ante imperdiet, sollicitudin libero eget, pharetra velit. Fusce volutpat nisi ut velit tempus, a egestas ligula efficitur. Morbi euismod ipsum vel nisl egestas, at vestibulum justo pretium. Vivamus placerat orci ac faucibus ultrices. Donec lobortis leo vitae est blandit, sed scelerisque diam consectetur. Nam ac imperdiet lectus, ut suscipit dolor. Maecenas id fringilla sem. Aenean sit amet lacus lobortis, pellentesque metus id, posuere velit. Etiam libero mauris, gravida at sapien nec, pulvinar faucibus augue. Aliquam ac dui quam
</p>

