---
name: services
url: /services
title: Services
---
<h3>{{ vars.title }}</h3>

<p>These are my services. Take them or leave them. I don't care.</p>

<zf-accordion multi-open="true" auto-open="false">
    <zf-accordion-item title="Web Development">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis elit, hendrerit non nisl ut, aliquet tempus sapien. Aenean cursus viverra neque, at commodo ex varius non. Donec ullamcorper est quis leo lacinia, vitae tempus ligula ullamcorper. Vivamus posuere gravida mi, et ultrices turpis sodales non. Donec malesuada urna in orci porttitor efficitur. Sed quis auctor justo. Proin elit urna, egestas eu mi sed, vestibulum rhoncus orci. Pellentesque dapibus arcu sit amet ligula gravida blandit. Nulla et libero ut quam dapibus interdum. Cras feugiat tempor turpis non placerat. Proin mattis ligula erat, eu aliquet justo faucibus feugiat. Quisque in neque magna.
        </p>
    </zf-accordion-item>
    <zf-accordion-item title="Web Design">
        <p>
        Donec sollicitudin quam velit, ut fringilla odio gravida dignissim. Aenean egestas est massa. Phasellus sodales commodo eros, quis elementum tortor convallis placerat. Suspendisse viverra libero sit amet justo dapibus dignissim. Aliquam quis lorem enim. Nulla efficitur sapien non aliquam vehicula. Nullam in ullamcorper orci, at lobortis ligula.
        </p>
    </zf-accordion-item>
    <zf-accordion-item title="Consulting">
        <p>
        Praesent nec dui eu arcu ornare facilisis. Vivamus eu ornare ligula. Aenean in hendrerit lorem. Cras laoreet urna ac sollicitudin consequat. Aenean nisl eros, malesuada vel nulla a, aliquam ornare elit. Aliquam felis risus, fermentum id gravida eget, imperdiet eget sapien. Ut luctus at justo venenatis varius. Aliquam a nulla vel mauris feugiat placerat.
        </p>
    </zf-accordion-item>
</zf-accordion>
